<i class="bi bi-person-circle"></i>
<h4>Hello, Mr Abdullah Sajid</h4>
<p>Last Login Date Friday June 15,2022
</p>
<p>
  Last Password change:0 days
</p>
<hr>

<h4>Overview > Account Summary</h4>

<div class="container mt-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bank Alphata Account</th>
        <br>
        <th>PKR 682.27</th>
      <br>
      <div>

      </div>
        <th>Mini Statement</th>
        <br>
        <th>Account Statement</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Debit Card</td>
        <td></td>
        <td></td>
      </tr>
      <hr>
      <tr>
        <td>Orbits (Reward Points)</td>
        <td></td>
        <td>3.75</td>

      </tr>
      <hr>
      <tr>
        <td>Islamic-Orbits (Reward Points)</td>
        <td></td>
        <td>0.00</td>
      </tr>
      <hr>
    </tbody>
  </table>
</div>


