<h1>Simple ATM User Interface</h1>

<div class="card">

  <div style="text-align: center;">
     <h1>
       Hi, welcome to XYZ Bank ATM
     </h1>
     <h3>What would you like to do?</h3>
  </div>
  <nav style="text-align: center;">
    <button routerLink='/balance'>Balance</button>
    <button routerLink='/deposit'>Deposit</button>
    <button routerLink='/withdraw'>Withdraw</button>
    <button routerLink='/overview'>Overview</button>
    <button type="button">Alfalah Investments</button>
    <button type="button">Orbit</button>
    <button type="button">Services</button>
 <button type="button">Instant Loan</button>
 <button type="button">Value Added Services</button>
 <button type="button">Buy Tickets</button>
 <button type="button">AlfaMall</button>
 <button type="button">Loans</button>
   <button type="button">Pay Anyone</button>
 <button type="button">Requests</button>
<button type="button">Payees</button>
<button type="button">Investments</button>
<button type="button">IPS</button>
<button type="button">EIPO</button>
<button type="button">Appointment</button>
<button type="button">Cards</button>

  </nav>

  <router-outlet></router-outlet>
</div>
